.main-container{
    margin-top: 2em;
    display: flex;
    justify-content: center;
}
.create_node{
    color: White;
}
.notes{
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    word-break: break-all;
    width: 40vw;
    height: calc(100vh - 8em);
    margin: center;
    color: white;
    background-color: black;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

.note{
   display: inline-block;
   border-radius: 5px;
   background-color: #581323;
   max-width: 90%;
   min-width: 5%;
   font-family: "Roboto";
   margin: 7px;
}

.text{
  margin-top: 11px;
  margin-right: 11px;
  margin-left: 11px;
  margin-bottom: 10px;
  box-sizing: border-box;
  color: white;
}

.buttons{
    border-radius: 100px;
    color: White;
    background-color: black;
    margin-left: 5px;
    height: 3em;
    width: 8em;
}
.enter_note{
    border-radius: 100px;
    height: 2.6em;
}
