<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Здарова</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body style="background-image: url({% static 'img/back.jpg' %});">
    <div class="notes">
        {% for i in notes %}
        <div>
            <div class="note">
                <p class="text">{{ i.message }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="main-container">
            <div class="create_node">Создать заметку <input class="enter_note" name="message"></div>
            <input class="buttons" name="accept-message" type="submit" value="Comment">
            <button class="buttons" name="erase_all" type="submit">Стереть все</button>
        </div>
    </form>
</body>
</html>